body {
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-image:radial-gradient(#CAD959, #34401A);
}


.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid  #252617;
    background-image: linear-gradient(#B4BF60, #64732F);
    color: #252617;
    border-radius: 12px;
    height: 600px;
}

h1, button, textarea {
    padding: 16px;
    margin: 16px;
}

h1 {
    font-size: 48px;
    text-align: center;
    width: 800px;
    font-weight: bold;
}

p{
    font-size: 24px;
}

textarea {
    width: 500px;
    height: 200px;
    font-size: 24px;
}

.Buttons {
    display: flex;
    height: 200px;
    align-items: center;
}

button {
    font-size: 24px;
    background-image: radial-gradient(#C065F0, #7824A3);
    color: #D9F065;
    font-weight: bold;
    border-radius: 8px;
    width: 150px;
    height: 75px;
    box-shadow: black;
}

#Results {
    font-size: 32px;
    padding: 16px;
}

.Score {
    display: flex;
    gap: 16px;
    font-size: 24px;
    justify-content: space-around;
    width: 500px;
}

.Hover {
    background-image: radial-gradient(#7D3BA3,#E7BDFF);
    color: #D9F075;
    width: 200px;
    height: 100px;
    transition-duration:0.15s;
}
